* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: grey;
    height: auto;
    padding: 20px;
}

/* Static is default position */
.static {
    position: static;
    border: 3px solid yellow;
    padding: 5px;
}

.mt-5 {
    margin-top: 50px;
}

.relative {
    position: relative;
    left: 25%;
    right: 100px;
    width: 500px;
    background-color: yellow;
    border: 3px solid yellow;
}

.sticky {
    position: sticky;
    background-color: rgb(43, 43, 37);
    top: 0;
    padding: 10px;
    text-align: center;
    color: white;
    z-index: 100;
}

.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    border: 3px solid yellow;
    width: 100%;
    padding: 20px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    z-index: 1000;
}

.relatives {
    position: relative;
    border: 3px solid yellow;
    left: 40%;
    width: 400px;
    height: 400px;
    padding: 20px;
    font-weight: bolder;
}

.absolute {
    position: absolute;
    left: 30px;
    top: 30%;
    border: 3px solid yellow;
    background-color: yellow;
    padding: 10px;
}


@media (max-width: 768px) {
    .relative, .relatives {
        width: 100%;
        left: 0;
        right: 0;
    }

    .absolute {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 20px;
    }

    .fixed {
        position:fixed;
        bottom:0;
        width:100%;
        left:0;
    }
}

@media (max-width: 480px) {
    .sticky h3, .container h1 {
        font-size: 1.2em;
    }

    .relative, .relatives {
        width: 100%;
        left: 0;
        right: 0;
    }

    .absolute {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 20px;
    }

    .fixed {
        position: relative;
        bottom: auto;
        width: auto;
    }
}
